<div class="carousel-container">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="carouselConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let i of images; let idx = index"
      class="carousel-slide"
    >
      <div class="carousel-image-container">
        <!-- Image -->
        <img [src]="i" alt="Image {{ idx + 1 }}" class="carousel-image" />

        <!-- Title -->
        <div class="carousel-title">
          <h2>{{ titles[idx] }}</h2>
        </div>

        <!-- Description -->
        <div class="carousel-description">
          <p>{{ descriptions[idx] }}</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
