/* Style the news card container */
.news-card
{
    display: flex;
    border: 15px solid 	#484848;
    border-radius:8px;
    overflow: hidden;
    max-width: 930px;
    margin: 20x auto;
    flex-direction: row;
    background-color: 	#484848;
    margin: 0 0 15px;
    min-height: 210px;
    filter: brightness(100%)
}

/* Style the image container */
.image-container
{
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: 150px;
    overflow: hidden;
    border-radius: 8px;
}

/* Style the image itself */
.image-container img
{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 2s ease, filter 1s ease;
}

/* On mouse hover image properties */
.image-container img:hover
{
    transform: scale(1.2);
    filter: brightness(85%);
}

.game-name a {
  text-decoration: none;   /* Remove the underline */
  color: inherit;          /* Inherit the color from .game-name */
  display: inline-block;    /* Ensure the <a> behaves like an inline block */
  width: 100%;              /* Make sure the <a> takes the full width of its parent */
  height: 100%;             /* Make sure the <a> takes the full height of its parent */
  
}
/* Style the name inside the image */
.game-name
{
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #D3D3D3;
    padding: 4px 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* On hover game-name properties */
.game-name:hover
{
  color: white;
  cursor: pointer;
}


/* Style the content container */
.content-container
{
    flex: 2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Style the h2 ( title ) tag in the content container */
.content-container h2
{
    margin: -15px 0 10px;
    font-size: 1.5em;
    color: white;
    font-family: "Audiowide", serif;
    font-style: normal;
    font-weight: 100;
}

/* On mouse hover title properties */
.content-container h2:hover
{
  text-decoration: underline;
  cursor: pointer;
}

/* Style the article title <a> in the h2 container */
.article-title
{
  text-decoration: none;
  color: white;
}

/* Style the p ( summary ) tag in the content container */
.content-container p
{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 3;         /* The number of allowed rows to extend the summary */
    line-clamp: 3;                 /* Throws a warning without it idk...               */
    overflow: hidden;
    margin: 0 0 15px;
    color: #D3D3D3;
    flex-grow: 1;
}

/* Style the footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #999;
    margin-top: 10px;
    margin-bottom: -15px;
  }

/* Style the published date inside the footer */
.published-date
{
  margin-top: auto;
  color: #D3D3D3;
}
  
  /* Style the read more text */
  .read-more {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* On mouse hover styling for read more text */
  .read-more:hover {
    text-decoration: underline;
  }


  /* Responsive adjustments */
@media (max-width: 800px) {
    .news-card {
      flex-direction: column;
    }
  
    .image-container {
      width: 100%;
      height: auto /* Allows height to adjust based on image aspect ratio */
    }

    .image-container img {
        max-height: 150px; /* Set desired maximum height for mobile view */
        object-fit: cover;
      }

    .content-container {
      padding: 12px;
    }
  }