<!-- Define the news card component -->
<div class="news-card">
    <div class="image-container">
        <img [src] ="article.imageUrl" alt="{{ article.title }}" >
        <div class="game-name">
            <a [routerLink]="['/games', article.gameId]">{{ article.gameName }}</a>
        </div>
    </div>
    <div class="content-container">

        <h2> 
            <a class ="article-title" href="{{article.articleLink}}">{{ article.title }}</a>
        </h2>

        <p>{{ article.summary}}</p>

        <div class="footer">

            <span class="published-date"> Published date: {{ article.publishedDate }}</span>
            <a class="read-more" href="{{ article.articleLink}}"> Read the full article</a>
            
        </div>
    </div>
</div>







<!-- To learn: Property Binding -->