<div class="page-container">
    <div class="carouse-home-title">
        <h3> You might like one of these </h3>
    </div>
    <!-- Import carousel here -->
     <div class="component-container-carousel">
        <app-news-carousel-api></app-news-carousel-api>
    </div>

    <div class="separator">
        <hr>
    </div>
   <div class="news-title">
    <h3> See the latest news </h3>
   </div>
    <!-- Import news cards here -->
    <div class="component-container-news-card">
        <app-news-card-api-loop></app-news-card-api-loop>
    </div>
</div>
